.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dicee {
  text-align: center;
  display: inline-block;
  margin: 0% 5% 0% 5%;
}

body {
  background-color: #F1F1FD;
}

h1 {
  margin: 30px;
  font-family:'Press Start 2P', cursive;;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #020887;
}

p {
  font-size: 2rem;
  color: #232931;
  font-family:'Press Start 2P', cursive;
  align-items: center;
}

img {
  width: 70%;
}

footer {
  margin-top: 2%;
  color: #232931;
  text-align: center;
  font-family: 'Press Start 2P';
  font-size: 20px;
}
